dart/.swagger-codegen/
dart/.swagger-codegen-ignore

javascript-es6/.swagger-codegen/
javascript-es6/node_modules/
javascript-es6/.swagger-codegen-ignore

######################### Common configuration #########################
### Dev configurations
.rules/
build/

### Packages managers
node_modules/*
platforms/*
plugins/*
vendor/*

### IDE template
.idea/
*.sublime-project
*.sublime-workspace

### OS
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
$RECYCLE.BIN/
.DS_Store
.Spotlight-V100
.TemporaryItems
.Trashes
.Trash-*
Desktop.ini
Thumbs.db
UserInterfaceState.xcuserstate

!.codegen.*.log
