######################### Project configuration ########################
javascript-es6/
typescript-angular/

######################### Common configuration #########################
### Dev configurations
.rules/
build/

### Packages managers
node_modules/*
platforms/*
plugins/*
vendor/*

### IDE template
.idea/
*.sublime-project
*.sublime-workspace

### OS
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
$RECYCLE.BIN/
.DS_Store
.Spotlight-V100
.TemporaryItems
.Trashes
.Trash-*
Desktop.ini
Thumbs.db
UserInterfaceState.xcuserstate
