# Swagger
*/.swagger-codegen-ignore
*/.swagger-codegen/
!.codegen.*.log

# Dart
.dart_tool/
.packages
build/

# Javascript
javascript-es6/node_modules/

######################### Common configuration #########################
# IntelliJ template
.idea/
*.iml
*.ipr
*.iws

# OS
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
$RECYCLE.BIN/
.DS_Store
.Spotlight-V100
.TemporaryItems
.Trashes
.Trash-*
Desktop.ini
Thumbs.db
UserInterfaceState.xcuserstate
