######################### Project configuration #########################
.swagger-codegen/
bin/
node_modules/
templates/
.swagger-codegen-ignore
.travis.yml
Makefile

######################### Common configuration #########################
### Dev template
.env
.php_cs.cache

### Packages managers
node_modules/*
platforms/*
plugins/*
vendor/*

### IDE template
.idea/
*.sublime-project
*.sublime-workspace

### OS template
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
$RECYCLE.BIN/
.DS_Store
.Spotlight-V100
.TemporaryItems
.Trashes
.Trash-*
Desktop.ini
Thumbs.db
UserInterfaceState.xcuserstate
