{
  "swagger": "2.0",
  "info": {
    "title": "Keyclic API",
    "description": "",
    "termsOfService": "",
    "contact": {
      "name": "API Support",
      "url": "http:\/\/keyclic.com",
      "email": "techies@keyclic.com"
    },
    "version": "1.42.2"
  },
  "host": "api.keyclic.com",
  "basePath": "\/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application\/json;charset=UTF-8"
  ],
  "produces": [
    "application\/hal+json;charset=UTF-8"
  ],
  "paths": {
    "\/applications\/{application}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Retrieve one Application resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getApplication",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "application",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Application"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "\/businessactivities": {
      "get": {
        "tags": [
          "BusinessActivity"
        ],
        "summary": "Retrieve all BusinessActivity resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetBusinessActivities",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/geo_point"
          },
          {
            "$ref": "#\/parameters\/geo_coordinates"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/organization"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/BusinessActivityPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/businessactivities\/{businessActivity}": {
      "get": {
        "tags": [
          "BusinessActivity"
        ],
        "summary": "Retrieve one BusinessActivity resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getBusinessActivity",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "businessActivity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/BusinessActivity"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/businessactivities\/{businessActivity}\/image\/{width}\/{height}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Retrieve one Image resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getImageByBusinessActivityAndWidthAndHeight",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "businessActivity",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "width",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "height",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/businessactivities\/{businessActivity}\/schema": {
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Retrieve one Schema resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getSchemaByBusinessActivity",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "businessActivity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Schema"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/businessactivities\/{businessActivity}\/thumbnail\/{width}\/{height}": {
      "get": {
        "tags": [
          "Thumbnail"
        ],
        "summary": "Retrieve one Thumbnail resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getThumbnailByBusinessActivityAndWidthAndHeight",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "businessActivity",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "width",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "height",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/categories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Retrieve all Category resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetCategories",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/business_activity"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/geo_point"
          },
          {
            "$ref": "#\/parameters\/geo_coordinates"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/organization"
          },
          {
            "$ref": "#\/parameters\/query"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/CategoryPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/categories\/{category}": {
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "Remove one Category resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "deleteCategory",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Retrieve one Category resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getCategory",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Category"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Category"
        ],
        "summary": "Edit one Category resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "patchCategory",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/CategoryPatch"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Category"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/organizations\/{organization}\/categories": {
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "Create one Category resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postCategoryByOrganization",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/CategoryData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Category"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Retrieve all Category resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetCategoriesByOrganization",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/business_activity"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/geo_point"
          },
          {
            "$ref": "#\/parameters\/geo_coordinates"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/query"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/CategoryPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/delegations\/{delegation}": {
      "get": {
        "tags": [
          "Delegation"
        ],
        "summary": "Retrieve one Delegation resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getDelegation",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "delegation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Delegation"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/delegations\/{delegation}\/workflow\/transition": {
      "post": {
        "tags": [
          "Transition"
        ],
        "summary": "Create one Transition resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postTransitionByDelegation",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/ReportWorkflowTransitionData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "delegation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Delegation"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/documents\/{document}": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Remove one Document resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "deleteDocument",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Document"
        ],
        "summary": "Edit one Document resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "patchDocument",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/DocumentPatch"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Document"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Retrieve one Document resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getDocument",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Document"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/documents\/{document}\/file": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Retrieve one File resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getFileByDocument",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Retrieve all Feed resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetFeeds",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/FeedPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds\/{feed}\/following": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Retrieve all Following resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetFollowingsByFeed",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "in": "path",
            "name": "feed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/FeedPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds\/{feed}": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Retrieve all Feed resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetFeedsByFeed",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "in": "path",
            "name": "feed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/ActivityAggregatedPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds\/{feed}\/follow": {
      "post": {
        "tags": [
          "Follow"
        ],
        "summary": "Create one Follow resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postFollowByFeed",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "in": "path",
            "name": "feed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds\/{feed}\/unfollow": {
      "post": {
        "tags": [
          "Unfollow"
        ],
        "summary": "Create one Unfollow resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postUnfollowByFeed",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "in": "path",
            "name": "feed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feeds\/{feed}\/read\/{group}": {
      "post": {
        "tags": [
          "Read"
        ],
        "summary": "Create one Read resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postReadByFeedAndGroup",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "in": "path",
            "name": "feed",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks": {
      "get": {
        "tags": [
          "Feedback"
        ],
        "summary": "Retrieve all Feedback resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "default": "DELIVERED",
            "in": "query",
            "name": "state",
            "pattern": ".*",
            "type": "string"
          },
          {
            "$ref": "#\/parameters\/category"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/geo_hash__"
          },
          {
            "$ref": "#\/parameters\/geo_near"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/organization"
          },
          {
            "$ref": "#\/parameters\/visibility__"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/FeedbackPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "\/feedbacks\/{feedback}\/comments": {
      "get": {
        "tags": [
          "Comment"
        ],
        "summary": "Retrieve all Comment resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetCommentsByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/ActivityPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Comment"
        ],
        "summary": "Create one Comment resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postCommentByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/CommentData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/reviews": {
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "Retrieve all Review resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetReviewsByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/ReviewPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/contributions": {
      "get": {
        "tags": [
          "Contribution"
        ],
        "summary": "Retrieve all Contribution resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetContributionsByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/ActivityAggregatedPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contribution"
        ],
        "summary": "Create one Contribution resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postContributionByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Operation"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}": {
      "get": {
        "tags": [
          "Feedback"
        ],
        "summary": "Retrieve one Feedback resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/tracking": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Retrieve one Tracking resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getTrackingByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Tracking"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/images\/{image}\/{width}\/{height}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Retrieve one Image resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getImageByFeedbackAndImageAndWidthAndHeight",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "image",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "width",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "height",
            "pattern": "\\d*",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/state": {
      "patch": {
        "tags": [
          "State"
        ],
        "summary": "Edit one State resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "patchStateByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/FeedbackStatePatch"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/images": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Create one Image resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postImageByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/ImageData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/issues": {
      "post": {
        "tags": [
          "Issue"
        ],
        "summary": "Create one Issue resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postIssue",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/FeedbackData"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/feedbacks\/{feedback}\/workflow\/transition": {
      "post": {
        "tags": [
          "Transition"
        ],
        "summary": "Create one Transition resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postTransitionByFeedback",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/FeedbackWorkflowTransitionData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "feedback",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Feedback"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/organizations\/{organization}\/members": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "Retrieve all Member resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetMembersByOrganization",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/query"
          },
          {
            "$ref": "#\/parameters\/role"
          },
          {
            "$ref": "#\/parameters\/roles"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/MemberPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "Create one Member resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "postMemberByOrganization",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/PersonData"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Returned when the resource is created",
            "schema": {
              "$ref": "#\/definitions\/Member"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/people\/{person}\/memberships": {
      "get": {
        "tags": [
          "Membership"
        ],
        "summary": "Retrieve all Membership resources.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "cgetMembershipsByPerson",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/after"
          },
          {
            "$ref": "#\/parameters\/before"
          },
          {
            "$ref": "#\/parameters\/order"
          },
          {
            "$ref": "#\/parameters\/query"
          },
          {
            "$ref": "#\/parameters\/role"
          },
          {
            "$ref": "#\/parameters\/roles"
          },
          {
            "$ref": "#\/parameters\/page"
          },
          {
            "$ref": "#\/parameters\/limit"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "person",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/MemberPagination"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "\/organizations\/{organization}\/members\/{member}": {
      "delete": {
        "tags": [
          "Member"
        ],
        "summary": "Remove one Member resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "deleteMemberByOrganizationAndMember",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Organization"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "Retrieve one Member resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "getMemberByOrganizationAndMember",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Member"
            }
          },
          "400": {
            "description": "Returned when the request is invalid.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "401": {
            "description": "Returned when the resource is unauthorized.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "403": {
            "description": "Returned when the resource is forbidden.",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "404": {
            "description": "Returned when the resource is not found",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#\/definitions\/Error"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Member"
        ],
        "summary": "Edit one Member resource.",
        "externalDocs": {
          "description": "Keyclic API documentation.",
          "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
        },
        "operationId": "patchMemberByOrganizationAndMember",
        "consumes": [
          "application\/json;charset=UTF-8"
        ],
        "produces": [
          "application\/hal+json;charset=UTF-8"
        ],
        "parameters": [
          {
            "$ref": "#\/parameters\/accept-language"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app"
          },
          {
            "$ref": "#\/parameters\/x-keyclic-app-version"
          },
          {
            "$ref": "#\/parameters\/MemberPatch"
          },
          {
            "description": "The identifier of the resource.",
            "format": "uuid",
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          },
[...]
