{
    "swagger": "2.0",
    "info": {
        "title": "Keyclic API",
        "description": "",
        "termsOfService": "",
        "contact": {
            "name": "API Support",
            "url": "https:\/\/keyclic.com",
            "email": "techies@keyclic.com"
        },
        "version": "2.13.12-dev.4a0f7a79c7"
    },
    "host": "api.keyclic.com",
    "basePath": "\/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application\/json;charset=UTF-8"
    ],
    "produces": [
        "application\/hal+json;charset=UTF-8"
    ],
    "paths": {
        "\/applications\/{application}": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Retrieve one Application resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getApplication",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "application",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Application"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ]
            }
        },
        "\/articles\/{article}": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Retrieve one Article resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getArticle",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "article",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Article"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/bookmarks\/{bookmark}": {
            "delete": {
                "tags": [
                    "Bookmark"
                ],
                "summary": "Remove one Bookmark resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteBookmark",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "bookmark",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Bookmark"
                ],
                "summary": "Retrieve one Bookmark resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getBookmark",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "bookmark",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Bookmark"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/bookmarks": {
            "post": {
                "tags": [
                    "Bookmark"
                ],
                "summary": "Create one Bookmark resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postBookmark",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/BookmarkData"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the resource is created",
                        "schema": {
                            "$ref": "#\/definitions\/Bookmark"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/business-activities": {
            "get": {
                "tags": [
                    "BusinessActivity"
                ],
                "summary": "Retrieve all BusinessActivity resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetBusinessActivities",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/geo_point"
                    },
                    {
                        "$ref": "#\/parameters\/geo_coordinates"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/organization"
                    },
                    {
                        "$ref": "#\/parameters\/organizations__"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/BusinessActivityPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/business-activities\/{businessActivity}": {
            "get": {
                "tags": [
                    "BusinessActivity"
                ],
                "summary": "Retrieve one BusinessActivity resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getBusinessActivity",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "businessActivity",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/BusinessActivity"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/businessactivities\/{businessActivity}\/schema": {
            "get": {
                "tags": [
                    "BusinessActivity"
                ],
                "summary": "Retrieve one Schema resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getSchemaByBusinessActivity",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "businessActivity",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Schema"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/categories": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve all Category resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetCategories",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/business_activity"
                    },
                    {
                        "$ref": "#\/parameters\/business_activities__"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/geo_point"
                    },
                    {
                        "$ref": "#\/parameters\/geo_coordinates"
                    },
                    {
                        "$ref": "#\/parameters\/leaf"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/organization"
                    },
                    {
                        "$ref": "#\/parameters\/organizations__"
                    },
                    {
                        "$ref": "#\/parameters\/query"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/CategoryPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Create one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/CategoryData"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the resource is created",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/categories\/{category}": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Remove one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Category"
                ],
                "summary": "Edit one Category resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchCategory",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/CategoryPatch"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Category"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/configurations\/{configuration}": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Retrieve one Configuration resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getConfiguration",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "configuration",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Configuration"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/contributions": {
            "get": {
                "tags": [
                    "Contribution"
                ],
                "summary": "Retrieve all Contribution resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetContributions",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/feedback"
                    },
                    {
                        "$ref": "#\/parameters\/feedbacks__"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/ContributionPagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contribution"
                ],
                "summary": "Create one Contribution resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postContribution",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/ContributionData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Contribution"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/contributions\/{contribution}": {
            "get": {
                "tags": [
                    "Contribution"
                ],
                "summary": "Retrieve one Contribution resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getContribution",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "contribution",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Contribution"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/assignments\/{assignment}": {
            "get": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Retrieve one Assignment resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getAssignment",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "assignment",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Assignment"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/assignments": {
            "post": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Create one Assignment resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postAssignment",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/AssignmentData"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the resource is created",
                        "schema": {
                            "$ref": "#\/definitions\/Assignment"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/devices": {
            "post": {
                "tags": [
                    "Device"
                ],
                "summary": "Create one Device resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postDevice",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/DeviceData"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the resource is created",
                        "schema": {
                            "$ref": "#\/definitions\/Device"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/digital-documents\/{digitalDocument}": {
            "delete": {
                "tags": [
                    "DigitalDocument"
                ],
                "summary": "Remove one DigitalDocument resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteDigitalDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "digitalDocument",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "DigitalDocument"
                ],
                "summary": "Retrieve one DigitalDocument resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getDigitalDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "digitalDocument",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "DigitalDocument"
                ],
                "summary": "Edit one DigitalDocument resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchDigitalDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/DocumentPatch"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "digitalDocument",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/digital-documents": {
            "post": {
                "tags": [
                    "DigitalDocument"
                ],
                "summary": "Create one DigitalDocument resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postDigitalDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/DocumentData"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when the resource is created",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/dispatchers\/{dispatcher}\/rules": {
            "get": {
                "tags": [
                    "Dispatcher"
                ],
                "summary": "Retrieve all Rule resources.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "cgetRulesByDispatcher",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/category"
                    },
                    {
                        "$ref": "#\/parameters\/categories__"
                    },
                    {
                        "$ref": "#\/parameters\/after"
                    },
                    {
                        "$ref": "#\/parameters\/before"
                    },
                    {
                        "$ref": "#\/parameters\/order"
                    },
                    {
                        "$ref": "#\/parameters\/service"
                    },
                    {
                        "$ref": "#\/parameters\/services__"
                    },
                    {
                        "$ref": "#\/parameters\/page"
                    },
                    {
                        "$ref": "#\/parameters\/limit"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "dispatcher",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/RulePagination"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/dispatchers\/{dispatcher}": {
            "get": {
                "tags": [
                    "Dispatcher"
                ],
                "summary": "Retrieve one Dispatcher resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getDispatcher",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "dispatcher",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Dispatcher"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/documents\/{document}": {
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Remove one Document resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "document",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Retrieve one Document resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "getDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "document",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Document"
                ],
                "summary": "Edit one Document resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "patchDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/DocumentPatch"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "document",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/documents\/{document}\/workflow": {
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Create one Workflow resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "postWorkflowByDocument",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "$ref": "#\/parameters\/accept-language"
                    },
                    {
                        "$ref": "#\/parameters\/x-date-time"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-platform"
                    },
                    {
                        "$ref": "#\/parameters\/x-keyclic-app-version"
                    },
                    {
                        "$ref": "#\/parameters\/DocumentWorkflowData"
                    },
                    {
                        "description": "The identifier of the resource.",
                        "format": "uuid",
                        "in": "path",
                        "name": "document",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Document"
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Returned when the resource is unauthorized.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Returned when the resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Returned when the resource is not found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "schemes": [
                    "https"
                ],
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "\/external-services\/{externalService}": {
            "delete": {
                "tags": [
                    "ExternalService"
                ],
                "summary": "Remove one ExternalService resource.",
                "externalDocs": {
                    "description": "Keyclic API documentation.",
                    "url": "http:\/\/docs.keyclic.com\/fr\/master\/overview.html"
                },
                "operationId": "deleteExternalService",
                "consumes": [
                    "application\/json;charset=UTF-8"
                ],
                "produces": [
                    "application\/hal+json;charset=UTF-8"
                ],
                "parameters": [
                    {
[...]
