/**
 * Allowed values for the "{{baseName}}" property.
 * @enum {{=<% %>=}}{<%datatype%>}<%={{ }}=%>
 * @readonly
 */
export default {{datatypeWithEnum}} = {
{{#allowableValues}}{{#enumVars}}
    /**
     * value: {{{value}}}
     * @const
     */
    "{{name}}": {{{value}}},
{{/enumVars}}{{/allowableValues}}
};
