   /**
    * Allowed values for the "{{&baseName}}" property.
    * @enum { {{&datatype}} }
    */
    static {{&datatypeWithEnum}} = {
    {{#allowableValues}}
        {{#enumVars}}
        /**
         * value: {{&value}}
         * @const
         * @readonly
         */
        "{{name}}": {{&value}}, // eslint-disable-line quotes
        {{/enumVars}}
    {{/allowableValues}}
    };
