{
    "name": "@keyclic/sdk-javascript",
    "version": "1.24.5",
    "description": "Javascript client for Keyclic API",
    "license": "MIT",
    "main": "bundles/main.js",
    "module": "bundles/main.js",
    "scripts": {
        "build": "webpack --config webpack.config.js",
        "standard": "standard --fix src/* test/* || true",
        "test": "mocha --compilers js:babel-core/register --recursive"
    },
    "dependencies": {
        "es6-promise": "^4.2.4",
        "isomorphic-fetch": "^2.2.1"
    },
    "devDependencies": {
        "babel-core": "^6.26.3",
        "babel-loader": "^7.1.5",
        "babel-preset-env": "^1.7.0",
        "babel-preset-stage-2": "^6.24.1",
        "standard": "^11.0.1",
        "webpack": "^4.16.4",
        "webpack-command": "^0.4.1"
    },
    "publishConfig": {
        "registry": "https://github.com/keyclic/app-sdk"
    }
}
