/**
* Enum class {{classname}}.
* @enum { {{datatype}} }
* @readonly
*/
export default class {{classname}} {
    {{#allowableValues}}{{#enumVars}}
        /**
         * value: {{{value}}}
         * @const
         */
        {{name}} = {{{value}}};

    {{/enumVars}}{{/allowableValues}}

    /**
    * Returns a <code>{{classname}}</code> enum value from a Javascript object name.
    * @param {Object} data The plain JavaScript object containing the name of the enum value.
    * @return {{=< >=}}{module:<#invokerPackage><invokerPackage>/</invokerPackage><#modelPackage><modelPackage>/</modelPackage><classname>}<={{ }}=> The enum <code>{{classname}}</code> value.
    */
    static constructFromData(data) {
        return data;
    }
}
