{{>header}}
import 'package:dio/dio.dart';

abstract class AuthInterceptor extends Interceptor {
    /// Get auth information on given route for the given type.
    /// Can return null if type is not present on auth data or if route doesn't need authentication.
    List<Map<String, dynamic>> getAuthInfo(RequestOptions route, String type) {
        final List<Map<String, dynamic>> results = <Map<String, dynamic>>[];

        if (route.extra.containsKey('secure') == false) {
            return results;
        }

        final List<Map<String, String>> authInfo = route.extra['secure'] as List<Map<String, String>>;
        for (final Map<String, dynamic> info in authInfo) {
            if (info['type'] != type) {
                continue;
            }

            results.add(info);
        }

        return results;
    }
}
